* {
    font-family: "微软雅黑";
    font-size: 12px;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9f9f9;
}

.top {
    background-color: #f2f2f2;
    height: 26px;
    display: block;
}

a {
    text-decoration: none;
    color: #888;
}

.main {
    margin: 0 auto;
    width: 1200px;
    line-height: 26px;
    color: #888;
    height: 26px;
}

.main .left {
    float: left;
    width: 370px;
}

.main .right {
    height: 26px;
    float: left;
}

.right .ceo {
    color: #c00;
}

.right .shequ {
    color: #c00;

}

.right .shouji {
    background-color: #c00;
    color: #fff;
    padding: 0 5px;
}

.right .cart {
    background: url(../img/public-24.png) no-repeat -18px 4px;
    padding-left: 15px;
    width: 15px;
    height: 15px;
}

.right .shouji .pre {
    width: 15px;;
    height: 15px;
    padding-left: 15px;
    background: url(../img/public-24.png) no-repeat -62px 2px;
}

.right .wangzhan {
    width: 15px;;
    height: 15px;
    padding-left: 15px;
    background: url('../img/public-24.png') no-repeat -80px 3px;
}

.right .kefu {
    width: 15px;;
    height: 15px;
    padding-left: 15px;
    background: url('../img/public-24.png') no-repeat -90px -262px;
}

.main .left span, .main .left a {
    margin-right: 5px;
}

.main .right span, .main .right a {
    margin-left: 5px;;
}

.top .banner2 a {
    background: url('../img/8526d6d79e30418f8f0266fdd6214c91.jpg') no-repeat top center scroll;
    display: block;
    width: 100%;
    height: 90px;
}

.main .right .wodejiuxian {
    display: inline-block;
    width: 15px;;
    height: 15px;
    padding-left: 15px;
    background: url('../img/public-24.png') no-repeat -96px 7px;
}

.main .right .popview {
    position: absolute;
    width: 72px;
    background-color: #fff;
    display: none;
}

.main .right .popview ul {
    list-style: none;
}

.wodejiuxianview {
    display: inline-block;
}
